@import url("reset.css");
@import url("base.css");
@import url("table.css");

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    src: url('../fonts/Roboto-Regular.woff');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url('../fonts/HelveticaNeue-Light.ttf');
}

body {
    position: relative;
    min-width: 1200px;
}

.container {
    width: 1200px;
}

* {
    box-sizing: border-box;
}
.header {
    font-size:15px;
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    position: relative;
    z-index: 999;
}
.header .container {
    position: relative;
     width: 1170px;
}
.ie8 .header {
    border-bottom: 1px solid #eee;
}
.site-logo {
	float: left;
	font-size: 23px;
	font-weight: 400;
	margin-right: 67px;
	margin-top: 5px;	
}
.header .mobi-toggler {
    background: #fff url("../img/icons/toggler.png") no-repeat scroll 6px 8px;
    border: 1px solid #d8d8d8;
    border-radius: 100%;
    color: #d8d8d8;
    display: none;
    float: right;
    height: 32px;
    margin: 25px 0 0 30px;
    position: relative;
    width: 32px;
}
.header .mobi-toggler i {
    display: none;
}
.header .mobi-toggler:hover {
    background: #e34f00 url("../img/icons/toggler.png") no-repeat scroll 6px -28px;
    border-color: #e34f00;
    color: #fff;
}
.header-navigation {
    float: right;
    font: 15px "Open Sans",sans-serif;
    margin: 0 10px 0 0;
    padding: 0;
}
.header-navigation ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-navigation > ul > li {
    float: left;
}
.header-navigation > ul > li > a {
	color: #333;
	display: block;
	padding-top: 20px;
	padding-right: 12px;
	padding-bottom: 21px;
	padding-left: 12px;
}
.header-navigation ul > li.active > a, .header-navigation ul > li > a:hover, .header-navigation ul > li > a:focus, .header-navigation ul > li.open > a, .header-navigation ul > li.open > a:hover, .header-navigation ul > li.open > a:focus {
    background: #fcfcfc none repeat scroll 0 0;
    color: #e02222;
    text-decoration: none;
}
.header-navigation ul > li.active > a {
    border-bottom: 2px solid #e64f00;
}
@media (min-width: 1025px) {
.header-navigation > ul > li:hover > .dropdown-menu {
    display: block;
}
}
.header-navigation, .header-navigation .dropdown {
    position: static;
}
.header-navigation .dropdown-fix-left, .header-navigation .dropdown-fix-right {
    position: relative;
}
.header-navigation .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    font: 13px "Open Sans",sans-serif;
    left: auto;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    text-transform: none;
    top: 100%;
    z-index: 9999;
}
.header-navigation .dropdown-menu::before, .header-navigation .dropdown-menu::after {
    display: none;
}
.dropdown-fix-left .dropdown-menu {
    left: 0;
    width: 700px;
}
.dropdown-fix-right .dropdown-menu {
    right: 0;
    width: 700px;
}
.header-navigation > ul > li > .dropdown-menu {
    border-top: 3px solid transparent;
    margin-top: -5px;
    z-index: 1001;
}
.header-navigation .dropdown100 > .dropdown-menu {
    left: 15px;
    right: 15px;
}
.header-navigation > ul > li.dropdown:hover > a::after {
    border-bottom: 8px solid #e6400c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1002;
}
.ie8 .header-navigation > ul > li.dropdown:hover > a::after {
    display: none;
}
.header-navigation li.dropdown100 > .dropdown-menu::after {
    display: none;
}
.header-navigation .dropdown-menu > li:first-child {
    border-top: 2px solid #ea4c1d;
}
.header-navigation .dropdown-menu li {
    border-bottom: 1px solid #efefef;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.header-navigation .dropdown-menu li:last-child {
    border: medium none;
}
.header-navigation .dropdown-menu li > a {
    color: #767f88;
    font-weight: 400;
    padding: 10px 15px;
}
.header-navigation .dropdown-menu > li > a:hover, .header-navigation .dropdown-menu > li.active > a, .header-navigation .header-navigation-content .header-navigation-col li > a:hover, .header-navigation .header-navigation-content .header-navigation-col li.active > a {
    background: #e6400c none repeat scroll 0 0;
    color: #fff;
}
.dropdown-submenu > a::after {
    display: none;
}
.header-navigation-content {
    min-width: 600px;
    padding: 20px 30px;
}
.header-navigation-content .header-navigation-col {
    padding: 0;
}
.header-navigation-content h4, .ecommerce .header-navigation-content h4 {
    border-bottom: 1px solid #f0f0f0;
    font: bold 15px "Open Sans",Arial,sans-serif;
    margin: 0 0 6px;
    padding: 10px 10px 5px;
}
.header-navigation-content ul {
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0;
}
.header-navigation-content li {
    border: medium none;
    padding: 0;
}
.header-navigation-content li > a {
    display: block;
}
.header-navigation-content-ext {
    background: #fff none repeat scroll 0 0;
    padding: 20px 30px 2px;
}
.header-navigation-description {
    background: #fcfafb none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(91, 91, 91, 0.2) inset;
    margin: -20px 0 -2px -30px;
    padding: 20px;
}
.header-navigation-content-ext h4, .ecommerce .header-navigation-content-ext h4 {
    border: medium none;
    padding: 10px 0 0;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li {
    border: medium none;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a {
    color: #767f88;
    display: inline-block;
    padding: 0 0 10px;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a:hover, .header-navigation .dropdown-menu .header-navigation-content-ext li.active > a {
    background: #fff none repeat scroll 0 0;
    color: #e6400c;
}
.header-navigation .dropdown-menu .dropdown-menu {
    left: 100%;
    right: auto;
    top: 6px;
}
.header-navigation .dropdown-menu a {
    position: relative;
}
.header-navigation .dropdown-menu .fa {
    position: absolute;
    right: 15px;
    top: 13px;
}
.header-navigation li.menu-search {
    position: relative;
    top: 26px;
}
.header-navigation li.menu-search span.sep {
    background: #eaeaea none repeat scroll 0 0;
    display: inline-block;
    height: 26px;
    margin: 0 18px 0 16px;
    position: relative;
    top: 0;
    width: 1px;
}
.header-navigation li.menu-search i {
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: 15px;
    opacity: 0.6;
    position: relative;
    top: -6px;
    width: 15px;
}
.header-navigation li.menu-search i:hover {
    background-position: 0 -15px;
    color: #e02222;
}
.header-navigation .search-box {
    background: #fcfafb none repeat scroll 0 0;
    border-top: 2px solid #ea4c1d;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    display: none;
    margin-top: 0;
    padding: 15px;
    position: absolute;
    right: -7px;
    top: 100%;
    width: 274px;
    z-index: 22;
}
.header-navigation .search-box::after {
    border-bottom: 8px solid #e6400c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: 8px;
    top: -8px;
    width: 0;
    z-index: 2;
}
.header-navigation .search-box button {
    margin-left: 0;
}
.reduce-header .site-logo {
    padding-bottom: 11px;
    padding-top: 9px;
}
.pre-footer {
    background: #313030 none repeat scroll 0 0;
    color: #b0b0b0;
}
.pre-footer .container {
    padding-top: 45px;
}
.pre-footer a {
    color: #57c8eb;
}
.pre-footer h2, .ecommerce .pre-footer h2 {
    color: #c2c1c1;
    font-size: 21px;
}
.pre-footer p {
    margin-bottom: 20px;
     line-height: 1.5;
      font-size:13px;
    
}
.pre-footer li {
    margin-bottom: 6px;
}
.pre-footer dl.f-twitter {
    margin-bottom: 7px;
    overflow: hidden;
}
.pre-footer dl.f-twitter dt {
    float: left;
    padding-top: 2px;
    text-align: left;
    width: 30px;
}
.pre-footer dl.f-twitter dt i {
    color: #57c8eb;
    font-size: 20px;
}
.pre-footer dl.f-twitter dd {
    color: #b0b0b0;
    margin-left: 30px;
}
.pre-footer dl.f-twitter dd span {
    color: #6b9cab;
    font-size: 12px;
    margin: 0 5px;
}
.pre-footer address {
    line-height: 1.7;
}
.pre-footer-col {
    padding-bottom: 22px;
}
.pre-footer .top-line {
    border-top: 1px solid #535353;
    padding-bottom: 17px;
    padding-top: 24px;
}
.pre-footer .social-icons {
    padding-top: 5px;
}
.pre-footer .social-icons li a, .pre-footer a.social-icon {
    transition: all 0.1s ease-in-out 0s;
}
.pre-footer .social-icons li a:hover {
    opacity: 1;
}
.pre-footer hr {
    border-color: #404040;
    margin-top: 0;
}
.pre-footer .form-control, .pre-footer .form-control:focus {
    border: medium none;
}
.pre-footer .pre-footer-subscribe-box {
    padding-bottom: 14px;
}
.ecommerce .pre-footer-subscribe-box form {
    float: left;
    width: 330px;
}
.pre-footer .pre-footer-subscribe-box p {
    clear: both;
}
.pre-footer-subscribe-box .input-group {
    border: 1px solid #545454;
    padding: 1px 1px 0 0;
}
.pre-footer-light .pre-footer-subscribe-box .input-group {
    border: 1px solid #dbdbdb;
}
.ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2 {
    float: left;
    margin-right: 20px;
    padding-top: 7px;
}
.pre-footer-subscribe-box input {
    background: #313030 none repeat scroll 0 0;
    border: 1px solid #313030;
    border-radius: 0;
    color: #909090;
    font: 13px Arial,sans-serif;
}
.pre-footer-subscribe-box input:focus {
    border: 1px solid #313030;
    box-shadow: none;
}
.pre-footer-subscribe-box .btn-primary {
    border-bottom: medium none;
    margin-bottom: 1px;
    margin-left: 0;
}
.pre-footer .photo-stream li {
    display: inline-block;
    margin: 4px 5px 4px 0;
}
.pre-footer .photo-stream img {
    border: 2px solid #9ca5ae;
    height: 54px;
    width: 54px;
}
.pre-footer .photo-stream img:hover {
    border-color: #e84d1c;
    transition: all 0.3s ease-in-out 0s;
}
.pre-footer-light {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #3e4d5c;
    margin-top: 20px;
}
.pre-footer-light .container {
    background: #fff none repeat scroll 0 0;
    padding-top: 25px;
}
.pre-footer-light h2, .ecommerce .pre-footer-light h2 {
    color: #3e4d5c;
}
.pre-footer-light a {
    color: #3e4d5c;
}
.pre-footer-light dl.f-twitter dd {
    color: #3e4d5c;
}
.pre-footer-light dl.f-twitter dd span {
    color: #99a5b1;
}
.pre-footer-light dl.f-twitter dd a {
    color: #e84d1c;
}
.pre-footer-light address a {
    color: #e84d1c;
}
.pre-footer-light hr {
    border-color: #e6e6e6;
}
.pre-footer-light .social-icons li a {
    opacity: 1;
}
.pre-footer-light .social-icons li a:hover {
    opacity: 0.7;
}
.pre-footer-light .input-group {
    border: medium none;
    padding: 1px 1px 0 0;
}
.pre-footer-light .pre-footer-subscribe-box input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #909090;
}
.pre-footer-light .pre-footer-subscribe-box button:hover {
    color: #fff;
}
.pre-footer-gray {
    background: #62707f none repeat scroll 0 0;
    color: #fff;
}
.pre-footer-gray h2, .ecommerce .pre-footer-gray h2 {
    color: #fff;
}
.pre-footer-gray dl.f-twitter dd {
    color: #fff;
}
.pre-footer-gray dl.f-twitter dd span {
    color: #fff;
    opacity: 0.5;
}
.pre-footer-gray hr {
    border-color: #94a5b6;
}
.pre-footer-gray .social-icons li a {
    opacity: 1;
}
.pre-footer-gray .social-icons li a:hover {
    opacity: 0.7;
}
.pre-footer-gray .pre-footer-subscribe-box fomr {
    color: #fff;
}
.pre-footer-gray .pre-footer-subscribe-box .input-group {
    border: 1px solid #94a5b6;
}
.pre-footer-gray .pre-footer-subscribe-box input {
    background: #62707f none repeat scroll 0 0;
    border: 1px solid #62707f;
    color: #fff;
}
.pre-footer-gray .pre-footer-subscribe-box input:focus {
    border: 1px solid #62707f;
}
.pre-footer-gray *:-moz-placeholder {
    color: #fff;
}
.pre-footer-gray *::-moz-placeholder {
    color: #fff;
}
.footer {
    background: #272626 none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    padding: 15px 0;
}
.footer-light {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #3e4d5c;
}
.footer-gray {
    background: #4a5866 none repeat scroll 0 0;
}
.footer a {
    color: #fff;
    text-decoration: underline;
}
.footer a:hover {
    text-decoration: none;
}
.footer-light a {
    color: inherit;
}
.footer .padding-top-10 {
    opacity: 0.5;
}
.footer .list-inline > li:last-child {
    padding-right: 0;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul.social-footer {
    font-size: 18px;
    padding-top: 5px;
}
.footer ul.social-footer a {
    opacity: 0.5;
}
.footer ul.social-footer a:hover {
    opacity: 1;
}
.interact a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 36px;
    margin-left: 8px;
    position: relative;
    width: 36px;
}
.interact .followus {
    background-image: url("../img/followus.png");
    background-position: left center;
    width: 128px;
}

.interact {
    height: 36px;
    left: 463px;
    position: relative;
    width: 270px;
}

.interact .weixin {
    background-image: url("../img/wx_normal.png");
}

.interact .weixin:hover {
    background-image: url("../img/wx_hover.png");
}
.interact .tx:hover {
    background-image: url("../img/qq_hover.png");
}

.interact .tx {
    background-image: url("../img/qq_normal.png");
}
.interact a:hover, .interact a:active {
    color: #fff;
}

.interact .weibo {
    background-image: url("../img/wb_normal.png");
}

.interact .weibo:hover {
    background-image: url("../img/wb_hover.png");
}


.interact .tx .code {
    background-image: url("../img/qq_code.png");
}

.interact .weixin .code {
    background-image: url("../img/wx_code.png");
}
.interact .weibo .code {
    background-image: url("../img/weibo_code.png");
}
.interact a .code {
    background-position: left top;
    background-repeat: no-repeat;
    display: none;
    height: 189px;
    left: -62px;
    position: absolute;
    top: -192px;
    width: 189px;
}

.title {
    float: left;
    margin-right: 60px;
    padding: 0 15px;
    line-height: 68px;
    font-family: Roboto-Bold sans-serif;
    font-size: 24px;
    letter-spacing: 0;
}





.main {
    /*min-height: 100%;*/
}

.main a {
    color: #fff;
}

.section {
    position: relative;
    overflow: hidden;
}

.section .container {
    padding: 80px 0;
}

body.index #section1 {
    position: relative;
    height: 800px;
    text-align: center;
}

body.index #section1 ul.album-carousel-list li {
    position: relative;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.slide-container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

ul.album-carousel-list li img {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#index-slide-1 {
    width: 208px;
    height: 208px;
    top: -100%;
    left: 50%;
    margin-left: -104px;
}

.current #index-slide-1 {
    top: 200px;
    opacity: 1;
}

#index-slide-2 {
    width: 850px;
    height: 200px;
    bottom: -100%;
    left: 50%;
    margin-left: -400px;
}

.current #index-slide-2 {
    bottom: 220px;
    opacity: 1;
}

#index-slide-3 {
    top: 350px;
    left: 478px;
    width: 850px;
    height: 200px;
}

.current #index-slide-3 {
    left: 306px;
    width: 850px;
    height: 200px;
    opacity: 1;
}

#index-slide-4 {
    width: 243px;
    height: 341px;
    top: 50%;
    left: 0;
    margin-top: -170px;
}

.current #index-slide-4 {
    left: 150px;
    opacity: 1;
}

#index-slide-5 {
    width: 850px;
    height: 200px;
    top: 50%;
    left: 100%;
    margin-top: -78px;
}

.current #index-slide-5 {
    left: 450px;
    opacity: 1;
}

.zoomout-album-tabs {
    bottom: 30px;
}

.zoomout-album-tabs span {
    width: 12px;
    height: 12px;
    margin: 0 10px;
}

body.index #section2 {
    min-height: 800px;
    letter-spacing: 0;
    color: #323C5C;
    background: url('../img/map.png') no-repeat center center #ffffff;
    background-size: contain;
}

body.index .num-total {
    margin: 0;
    line-height: 76px;
    font-family: Helvetica, sans-serif;
    font-size: 56px;
    text-align: center;
}

body.index .num-total > span {
    padding: 10px;
    border-bottom: 3px solid #B4BCCA;
}

body.index .num-explain {
    margin: 14px 0 2em;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    text-align: center;
}

body.index .num-columns {
    margin: 80px auto;
}

.num-columns-left,
.num-columns-right {
    float: left;
    padding: 0 10px;
    width: 50%;
}

.num-columns-icon {
    margin: 20px 0;
    height: 88px;
}

.num-columns-left .num-columns-icon {
    background: url('../img/num-columns-left.png') no-repeat center center;
    background-size: contain;
}

.num-columns-right .num-columns-icon {
    background: url('../img/num-columns-right.png') no-repeat center center;
    background-size: contain;
}

.num-columns-num {
    margin: 15px 0 8px;
    line-height: 76px;
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
}

.num-columns-num > span {
    padding: 10px;
    border-bottom: 3px solid #B4BCCA;
}

.num-columns-explain {
    margin: 14px 0;
    font-family: Roboto-Regular, sans-serif;
    text-align: center;
    font-size: 18px;
}

.num-check {
    margin: 100px auto 20px;
    text-align: center;
}

.num-check .btn {
    padding: 0.5em 6em;
    border-radius: 2px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    color: #ffffff;
    background: #414D73;
}

.num-check .btn:hover,
.num-check .btn:active {
    background: #4B5984;
}

body.index #section3 {
    color: #ffffff;
    background: #323C5C;
}

body.index #section3 h2 {
    margin: 0 auto 1em;
    font-family: Roboto-Light, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

body.index #section3 .board {
    float: left;
    position: relative;
    margin: 2em 4% 2em 0;
    padding: 40px 100px 40px 40px;
    width: 48%;
    height: 194px;
    background: #414D73;
}

body.index #section3 .board + .board {
    margin-right: 0;
}

body.index #section3 .board:hover,
body.index #section3 .board:active {
    background: #4B5984;
}

body.index #section3 .board h3 {
    margin-top: 0;
    font-family: Roboto-Light, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

body.index #section3 .board p {
    margin-bottom: 0;
    font-family: Roboto-Light, sans-serif;
    font-size: 20px;
    font-weight: 100;
    opacity: 0.87;
}

body.index #section3 .board-arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -18px;
    width: 20px;
    height: 36px;
    font-size: 0;
    background: url('../img/arrow.png') no-repeat;
    background-size: contain;
}

body.index #section4 {
    color: #323C5C;
    font-family: Roboto-Light, sans-serif;
    background-color: #f6f6f6;
}

body.index #section4 h2 {
    margin: 0 auto 1em;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
}

body.index #section4 table {
    margin-bottom: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    text-align: center;
    font-size: 24px;
}

body.index #section4 td {
    padding: 0 14px;
    background-color: #ffffff;
}

body.index #section4 img {
    vertical-align: middle;
}

body.index #section4 td p {
    /*margin: 0;*/
    line-height: 1;
}

/* event */
body.events {
    background-color: #323C5C;
    overflow-y: scroll;
}

#event-section1, #event-section2 {
    min-height: 800px;
}

body.events .container {
    height: 100%;
}

#event-section2 .container {
    padding: 0;
}

.wrape, .echarts {
    width: 100%;
    height: 100%;
}

.event-globe-desc {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -600px;
    width: 1200px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.event-globe-desc td {
    width: 33.3333%;
    text-align: center;
}

.event-globe-desc p {
    margin: 12px auto;
    text-align: center;
    font-family: HelveticaNeue-Light, sans-serif;
    font-size: 24px;
}

.event-globe-desc-txt {
    display: inline-block;
    padding: 0 20px;
    line-height: 56px;
    border-top: 3px solid #B4BCCA;
    font-size: 20px;
}

.event-globe-desc-num {
    margin-right: 5px;
    line-height: 56px;
    font-family: Roboto-Light, sans-serif;
    font-size: 42px;
}

/* banner */
.banner {
    background-color: #323C5C;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.banner .container {
    padding-top: 68px;
    height: 354px;
    color: #ffffff;
    text-align: left;
}

.banner p.banner-title {
    margin: 70px 0 20px 100px;
    line-height: 1.1;
    font-size: 40px;
}

.banner p.banner-desc {
    margin: 20px 0 0 100px;
    line-height: 1.1;
    font-size: 18px;
}

/* vulnerabilities */
.vulnerabilities .banner,
.vulnerabilitiesDetail .banner {
    background-image: url('../img/r2.png');
}

.vulnerabilities .main {
    padding: 60px 0;
    color: #333333;
    background-color: #ffffff;
}

.vulnerabilities ul.content {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.vulnerabilities ul.content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.article {
    position: relative;
}

.article .left {
    position: relative;
    float: left;
    padding-right: 2em;
    width: 12%;
    color: #B3B3B3;
}

.article .right {
    position: relative;
    float: left;
    padding: 0 0 40px 3em;
    width: 88%;
    border-left: 1px solid #323C5C;
}

.article .left .day {
    display: block;
    font-size: 24px;
    color: #333333;
}

.article .right .dot {
    position: absolute;
    left: -12px;
    width: 24px;
    height: 24px;
    background-color: #323C5C;
    border: 4px solid #8c91a3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.article .right h3 {
    margin: 0 0 1em 0;
    font-size: 24px;
    font-weight: 600;
}

.article .right .data {
    margin-bottom: 1em;
    font-size: 12px;
    color: #B3B3B3;
}

.article .right .data span {
    margin-right: 2em;
}

.article .right ul.article-desc {
    margin-top: 2em;
    padding-left: 20px;
    font-family: Roboto-Light, sans-serif;
}

.article .right ul.article-desc li {
    font-family: Roboto-Regular, sans-serif;
    color: #000000;
}

.article .right ul.article-desc a {
    color: #337ab7;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: .5em 1.5em;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    user-select: none;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

.article .right a.btn {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background: #323C5C;
    border: 1px solid #323C5C;

}

.article .right a.btn:hover {
    background: #4B5984;
}

.radius {
    border-radius: 2px;
}

.btn-xs {
    font-size: 1.2rem;
}

.vulnerabilities .page {
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.page a,
.page span {
    display: inline-block;
    margin-right: 1em;
    padding: 0.25em 0.5em;
    border-radius: 2px;
    color: #323C5C;
}

.page a:hover {
    color: #6f768c;
}

.page span.current {
    color: #fff;
    background-color: #323C5C;
}

.page a.current:hover {
    background: #4B5984;
}

.page a.disabled,
.page span.current.prev,
.page span.current.prev:before,
.page span.current.next,
.page span.current.next:after {
    color: #B3B3B3;
    background-color: transparent;
    cursor: not-allowed;
}

.page a.prev,
.page span.prev,
.page a.next,
.page span.next {
    position: relative;
    padding: 0 1em;
}

.page a.prev:before,
.page span.current.prev:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: -0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 5px solid;
    border-right: 5px solid \9;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.page a.next:after,
.page span.current.next:after {
    content: " ";
    position: absolute;
    top: 5px;
    right: -0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 5px solid;
    border-left: 5px solid \9;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* reports */

.reports .banner,
.reportsDetail .banner {
    background-image: url('./img/desk/r1.png');
}

body.reports .main,
body.reportsDetail .main {
    margin: 60px 0;
}

.reports-info {
    margin-bottom: 1em;
    font-size: 12px;
    font-family: Roboto-Regular, sans-serif;
    /*opacity: 0.54;*/
    color: #000000;
}

.reports-info > span {
    float: left;
    margin-top: 0.5em;
}

.reports-info .fa-clock-o,
.reports-info .fa-bars {
    margin-right: 5px;
}

body.reportsDetail h3.content-title {
    margin: 0 auto 1em;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
    font-weight: 500;
    /*text-align: center;*/
    word-break: break-all;
    word-wrap: break-word;
    color: #000000;
}

body.reportsDetail .main-desc {
    margin: 1em auto;
}

body.reportsDetail .main-desc > span {
    float: left;
    padding: 0 10px;
    min-width: 50%;
    font-family: Roboto-Regular, sans-serif;
    font-size: 12px;
    opacity: 0.54;
    color: #000000;
}

body.reportsDetail .timeline-content {
    margin-top: 2em;
    width: 75%;
    font-family: Roboto-Light, sans-serif;
}

body.reportsDetail .timeline-content h3 {
    margin: 1em auto;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #000;
}

body.reportsDetail div.timeline-content p {
    display: block;
    margin: 4px 0;
    padding: 0;
    height: auto;
    line-height: 24px;
    font-size: 14px;
    font-family: Roboto-Light, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
}

body.reportsDetail p img {
    vertical-align: middle;
}

body.reportsDetail .reports-key {
    font-weight: 600;
}

body.reportsDetail .timeline {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -600px;
    overflow: visible;
}

body.reportsDetail .timeline.fixed {
    position: fixed;
    top: 60px;
}

body.reportsDetail .timeline .line {
    position: absolute;
    top: 20px;
    right: 0;
    width: 1px;
    height: 100px;
    background-color: #323C5C;
}

body.reportsDetail .timeline ul {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 36px;
    list-style: none;
}

body.reportsDetail .timeline .bar {
    position: absolute;
    top: 0;
    right: -3px;
    z-index: 2;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    background-color: #323C5C;
    border: 1px solid #323C5C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

body.reportsDetail .node {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 16px;
    width: auto;
    color: #323C5C;
    overflow: visible;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

body.reportsDetail .node.active {
    font-size: 16px;
}

body.reportsDetail .node.active,
body.reportsDetail .node:hover {
    color: #6f768c;
}

body.reportsDetail .node.active:after {
    background-color: #6f768c;
    border: 1px solid #6f768c;
}

body.reportsDetail .node:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    z-index: 1;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border: 1px solid #323C5C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

body.reportsDetail .node span {
    transition: all 0.4s ease-out;
    padding: 10px;
    white-space: nowrap;
    font-weight: 200;
}

body.successCase .header {
    position: relative;
    color: #ffffff;
}

body.successCase .main .container {
    width: 800px;
}

body.successCase .logo {
    margin: 6em auto 3em;
}

body.successCase .logo p {
    text-align: center;
}

body.successCase .logo img {
    width: 160px;
    height: 160px;
}

body.successCase .logo p.logo-name {
    margin: 0;
    line-height: 2em;
    font-family: Roboto-Regular, sans-serif;
    font-size: 24px;
}

body.successCase .introduction {
    padding: 1em 0 0;
    line-height: 20px;
    border-top: 1px solid #C0C0C0;
    font-size: 16px;
}

body.successCase .intro p {
    font-family: Roboto-Light, sans-serif;
    text-indent: 2em;
}

body.successCase .btn-default {
    display: block;
    margin: 60px auto 0;
    padding: 0.5em 0;
    width: 600px;
    border-radius: 2px;
    font-family: Roboto-Regular, sans-serif;
    color: #ffffff;
    background: #404C72;
}

body.successCase .disabled {
    display: block;
    margin-top: 2em;
    padding: 0.5em 0;
    border-radius: 2px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #999;
    border: 1px solid #999;
    background-color: #eee;
    cursor: not-allowed;
}

body.successCase .btn.disabled:active {
    cursor: not-allowed;
    background-color: #ffffff;
}

body.successCase .btn-reverse {
    display: block;
    margin: 15px auto 80px;
    padding: 0.5em 0;
    width: 600px;
    border-radius: 2px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    border: 1px solid #404C72;
    color: #404C72;
    background: #ffffff;
}

body.successCase .btn:active {
    background: #4B5984;
}