.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse !important;
}

.table td,
.table th {
    background-color: transparent !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 2;
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
    border-bottom: 2px solid #333333;
}

.reports table {
    font-size: 12px;
    text-align: center;
}

.reports tr:hover {
    background: #eeeeee;
}

.reports tr.even {
    background: #eeeeee;
}

.reports table a.btn {
    display: inline-block;
    padding: 0.5em 2em;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #323C5C;
    font-size: 14px;
}

.reports table tr:hover a.btn {
    background-color: #4B5984;
}

body.reports .main .bottom {
    padding-top: 40px;
    text-align: center;
}

body.reports .main .bottom .paginate_button {
    display: inline-block;
    margin-right: 1em;
    padding: 0.25em 0.5em;
    border-radius: 2px;
    color: #323C5C;
    cursor: pointer;
}

body.reports .main .bottom .paginate_button:hover {
    color: #4B5984;
}

body.reports .main .bottom .paginate_button:active {
    color: #4B5984;
    outline: none;
}

body.reports .main .bottom .previous,
body.reports .main .bottom .next {
    position: relative;;
    padding: 0 1em;
    color: #323C5C;
}

body.reports .main .bottom .previous:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: -0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 5px solid;
    border-right: 5px solid \9;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: #323C5C;
}

body.reports .main .bottom .next:after {
    content: " ";
    position: absolute;
    top: 5px;
    right: -0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 5px solid;
    border-left: 5px solid \9;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: #323C5C;
}

body.reports .main .bottom .paginate_button.disabled,
body.reports .main .bottom .paginate_button.disabled:after,
body.reports .main .bottom .paginate_button.disabled:before {
    color: #B3B3B3;
    cursor: not-allowed;
}

body.reports .main .bottom .paginate_button.current {
    color: #ffffff;
    background-color: #323C5C;
    cursor: text;
}