.album-carousel-layout {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.album-carousel-zone {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.album-carousel-list {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.album-carousel-list li {
    float: left;
    overflow: hidden;
}

.album-carousel-list li a {
    display: block;
    overflow: hidden;
    font-size: 0;
}

.album-carousel-list li a img {
    vertical-align: middle;
}

.zoomout-album-tabs {
    position: absolute;
    bottom: 10px;
    margin: 5px auto;
    width: 100%;
    height: 20px;
    text-align: center;
    overflow: hidden;
}

.zoomout-album-tabs span {
    display: inline-block;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.50);
}

.zoomout-album-tabs span.current {
    background-color: #ffffff;
    /*border: 1px solid transparent;*/
}
